<div class="main_cadastro_curriculo">
    <h1>Cadastro de Currículo</h1>

    <form class="container_form_cadastro" (ngSubmit)="cadastrarCurriculo()">
        <div>
            <h2>Informações Básicas</h2>
            <div class="posicao_inputs">
                <label for="nome">Nome</label>
                <input type="text" id="nome" [(ngModel)]="curriculo.nome" name="nome" required
                    placeholder="Digite seu nome">

                <label for="email">E-mail</label>
                <input type="email" id="email" [(ngModel)]="curriculo.email" name="email" required
                    placeholder="Digite seu e-mail">

                <label for="telefone">Telefone</label>
                <input type="tel" id="telefone" [(ngModel)]="curriculo.telefone" name="telefone" required
                    placeholder="Digite seu telefone">
            </div>
        </div>

        <div>
            <h2>Objetivo Profissional</h2>
            <div class="posicao_inputs">
                <label for="cargo">Cargo</label>
                <input type="text" id="cargo" [(ngModel)]="curriculo.cargo" name="cargo" required
                    placeholder="Qual cargo você está buscando?">
            </div>
        </div>

        <div>
            <h2>Experiência</h2>
            <div class="posicao_inputs">
                <label for="empresa">Nome da empresa</label>
                <input type="text" id="nomeEmpresa" [(ngModel)]="curriculo.nomeEmpresa" name="empresa"
                    placeholder="Qual o nome da empresa que você trabalhou?">

                <label for="cargoAnterior">Cargo anterior</label>
                <input type="text" id="cargoAnterior" [(ngModel)]="curriculo.cargoAnterior" name="cargoAnterior"
                    placeholder="Qual foi seu cargo?">

                <label for="tempoTrabalho">Quanto tempo você trabalhou lá?</label>
                <input type="text" id="tempoTrabalhado" [(ngModel)]="curriculo.tempoTrabalhado" name="tempoTrabalhado"
                    placeholder="Quanto tempo você trabalhou lá?">
            </div>
        </div>

        <div>
            <h2>Habilidades</h2>
            <div class="posicao_inputs">
                <label for="habilidades">Quais suas habilidades?</label>
                <input type="text" id="habilidades" [(ngModel)]="curriculo.habilidades" name="habilidades"
                    placeholder="Digite suas habilidades">
            </div>
        </div>

        <button type="submit">Cadastrar Currículo</button>
    </form>
</div>
