<div class="main_cadastro">
    <!-- Titulo -->
    <div>
        <h1>Cadastre seu curriculo!</h1>
    </div>

    <!-- Inputs -->
    <div>
        <form class="container_form_cadastro" action="">
            <div>
                <h2>Informações básicas</h2>
                <div class="posicao_inputs">
                    <label for="">Nome</label>
                    <input type="text" placeholder="Digite seu nome">

                    <label for="">E-mail</label>
                    <input type="text" placeholder="Digite seu e-mail">

                    <label for="">Telefone</label>
                    <input type="text" placeholder="Digite seu telefone">
                </div>
            </div>

            <div>
                <h2>Objetivo Profissional</h2>
                <div class="posicao_inputs">
                    <label for="">Cargo</label>
                    <input type="text" placeholder="Qual cargo você esta buscando?">

                    <label for="">Descreva seu objetivo</label>
                    <input type="text" placeholder="Descreva brevemente seu objetivo profissional">

                    <label for="">Telefone</label>
                    <input type="text" placeholder="Digite seu telefone">
                </div>
            </div>

            <div>
                <h2>Experiência</h2>
                <div class="posicao_inputs">
                    <label for="">Você já trabalhou antes?</label>
                    <select name="Select">
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>

                    <label for="">Nome da empresa</label>
                    <input type="text" placeholder="Qual o nome da empresa que você trabalhou?">

                    <label for="">Cargo anterior</label>
                    <input type="text" placeholder="Qual foi seu cargo?">

                    <label for="">Quanto tempo você trabalhou lá?</label>
                    <input type="text" placeholder="Quanto tempo você trabalhou lá?">
                </div>
            </div>

            <div>
                <h2>Formação</h2>
                <div class="posicao_inputs">
                    <label for="">Você possui alguma formação?</label>
                    <select name="Select">
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>

                    <label for="">Qual é o seu grau?</label>
                    <select name="Select">
                        <option value="true">Ensino Fundamental</option>
                        <option value="true">Ensino Médio</option>
                        <option value="true">Graduação</option>
                        <option value="false">Pós Graduação</option>
                    </select>

                    <label for="">Qual o nome da instituição?</label>
                    <input type="text" placeholder="Qual o nome da instituição?">
                </div>
            </div>

            <div>
                <h2>Habilidades</h2>
                <div class="posicao_inputs">
                    <label for="">Quais suas hardskills?</label>
                    <input type="text" placeholder="Digite suas habilidades">
                </div>
            </div>


        </form>
    </div>
</div>