<div class="container_header">
    <div class="title">
        <!-- Titulo do site -->
        <h1>Professional Journey</h1>
    </div>

    <div class="menu">
        <!-- Menu -->
        <ul>
            <li routerLink="/curriculos" routerLinkActive="active">Currículos</li>
            <li routerLink="/postagens" routerLinkActive="active">Postagens</li>
            <li routerLink="/cadastro" routerLinkActive="active">Cadastro</li>
            <li routerLink="/favoritos" routerLinkActive="active">Favoritos</li>
        </ul>
    </div>
</div>
