<div class="main_lista_curriculos">
    <h1>Lista de Currículos</h1>

    <div *ngIf="curriculos.length === 0" class="no-curriculos">
        <p>Nenhum currículo cadastrado.</p>
    </div>

    <div class="curriculo" *ngFor="let curriculo of curriculos">
        <div class="curriculo-header">
            <h2>{{ curriculo.nome }}</h2>
            <div class="button-group">
                <button class="btn btn-primary" (click)="abrirModal(curriculo)">Ver Detalhes</button>
                <button class="btn btn-secondary" (click)="downloadPDF(curriculo)">Baixar PDF</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" [ngClass]="{'is-active': isModalOpen}">
        <div class="modal-background" (click)="fecharModal()"></div>
        <div class="modal-content">
            <div class="box">
                <h2>{{ selectedCurriculo?.nome }}</h2>
                <p><strong>E-mail:</strong> {{ selectedCurriculo?.email }}</p>
                <p><strong>Telefone:</strong> {{ selectedCurriculo?.telefone }}</p>
                <p><strong>Cargo:</strong> {{ selectedCurriculo?.cargo }}</p>
                <p><strong>Nome da Empresa:</strong> {{ selectedCurriculo?.nomeEmpresa }}</p>
                <p><strong>Cargo Anterior:</strong> {{ selectedCurriculo?.cargoAnterior }}</p>
                <p><strong>Tempo Trabalhado:</strong> {{ selectedCurriculo?.tempoTrabalhado }}</p>
                <p><strong>Habilidades:</strong> {{ selectedCurriculo?.habilidades }}</p>
                <button class="btn btn-primary" (click)="fecharModal()">Fechar</button>
            </div>
        </div>
    </div>
</div>
